<div class="ui container">
  <h1>Showing Skill Levels New</h1>
    <div class="ui divider"></div>
      <p>



  <%= form_for(@skill_level, url: skill_skilllevels_path(@skill)) do |f| %>
    <%= f.text_field :level %>
    <%= f.text_area :statement %>
    <%= f.hidden_field(:skill, :value => @skill.id) %>
    <%= f.submit %>
  <% end %>
        This is where the form for creating new skill levels will go.
      </p>
        <%= link_to "Back to #{@skill.name}", skill_url(@skill),
            :class => 'ui inverted green button'%>




            <% @students.each do |student| %>
            <%= student.first_name %>
            <%= student.last_name %>
            <% end %>


            <%= @skill.name %>
            <%= @skill.id %>
            <%= @skill.skill_levels.last %>

</div>
