<div class="ui grid">
  <div class="five wide column">
    <%= link_to "Back", :back, :class => 'ui inverted green button' %>
  </div>
  <div class="six wide column">
    <%= form_for(@student) do |form| %>
  <div class="ui segment">
      <div class="ui big form">
      <% if @student.avatar? %>
        <%= image_tag(@student.avatar.url, :class => "ui medium centered circular image", :style => 'height: 14rem; width: 14rem;') %>
      <% end %>
      <div class="field">
        <label> Student Picture </label>
        <%= form.file_field :avatar, :class => 'ui huge green right floated button' %>
    </div>
      <h3 class="ui header">Student Name                 </h3>
        <div class="two fields">
          <%= form.text_field :first_name, placeholder: "First Name" %><%= form.text_field :last_name, placeholder: "Last Name" %>
        </div>
      </div>
  <!-- Admin only -->
    <!-- Classroom -->
      <div class="field">
        <label>Classroom</label>
        <%= form.select(:classroom_id, options_for_select(
          Classroom.all.pluck(:name, :id),
          current_teacher.classroom),
          {prompt: 'Select Classroom'},
          :class => 'ui fluid selection dropdown' )
          %>
        </div>
    <!-- Gender -->
      <div class="field">
          <label>Gender</label>
          <%= form.select(:gender, options_for_select([
            ["Male", true],
            ["Female", false]], @student.gender),
            {prompt: 'The Student is...'},
            {:class=>'ui fluid selection dropdown'})
            %>
          </div>
    <!-- Year Group -->
      <div class="field">
        <label>Year Group</label>
        <%= form.select(:year, options_for_select([
                               ["Year Group 1", 1],
                               ["Year Group 2", 2],
                               ["Year Group 3", 3],
                               ["Year Group 4", 4],
                               ["Year Group 5", 5],
                               ["Year Group 6", 6],
                               ["Year Group 7", 7],
                               ["Year Group 8", 8],
                               ["Year Group 9", 9],
                               ["Year Group 10", 10],
                               ["Year Group 11", 11],
                               ["Year Group 12", 12],
                               ["Year Group 13", 13],
                               ], @student.year ),
                              {prompt: 'Student Year Group?'},
                              {:class=>'ui fluid selection dropdown'})
        %>
      </div>
      <div class="field">
        <label>Special Education Needs</label>
        <sub>Please list any special needs this student requires:
        </sub><br>
          <%= form.text_area :special_education_need, placeholder: "e.g Wheelchair Bound, requires manual handling" %>
      </div>
    </div>

<div class="ui segment">
  <h2>Admin Options</h2>
      <% if current_teacher.admin? %>
        <!-- English as Second Lanugage -->
          <div class="field">
            <label>English as Second Lanugage</label>
            <%= form.select(:english_as_language, options_for_select([
                            ["Yes", true],
                            ["No", false]], @student.english_as_language),
                            {prompt: 'English as second language?'},
                            {:class=>'ui fluid selection dropdown'})
            %>
          </div>
        <!-- Free School Meals -->
          <div class="field">
            <label>Free School Meals</label>
            <%= form.select(:free_school_meals, options_for_select(
                           [["Yes", true],
                            ["No", false]],
                            @student.free_school_meals),
                            {prompt: 'Student Recieve FSM?'},
                            {:class=>'ui fluid selection dropdown'})
            %>
          </div>
        <!-- Pupil Premium -->
          <div class="field">
            <label>Pupil Premium</label>
            <%= form.select(:pupil_premium, options_for_select([
                            ["Yes", true],
                            ["No", false]], @student.pupil_premium),
                            {prompt: 'Qualify for pupil premium?'},
                            {:class=>'ui fluid selection dropdown'})
            %>
          </div>
      <% else %>
      <!-- Defaults for non Admin Users -->
      <%= form.hidden_field :pupil_premium, :value => false %>
      <%= form.hidden_field :free_school_meals, :value => false %>
      <%= form.hidden_field :english_as_language, :value => false %>
      <% end %>
</div>
<div class="ui divider"></div>
<div class="ui segment">
<h2>Set Student Proficiency Levels</h2>
<p> Please set the students proficiency level in each of the available skills, If you have any questions about this section please contact one of the Senior Management Team. </p>

        <% @skill.each do |skill| %>
        <% @options = ProficiencyLevel.where(skill_id: skill.id).each_with_object([]) do |proficiency_level, array | %>
        <% @name = "#{proficiency_level.prefix}#{number_with_precision(proficiency_level.level,
          strip_insignificant_zeros: true)} #{proficiency_level.skill.name.titleize}" %>
          <% array << [@name, proficiency_level.id] %>
          <% end %>

          <div class="field">
            <label><%= skill.name.capitalize %></label>
              <%= form.fields_for :skill_levels do |builder| %>
                <%= builder.select(:proficiency_level_id,
                                    options_for_select(@options),
                                   {:class => 'ui fluid selection dropdown'},
                                   {:prompt => "Select Level"}  )
                 %>
              <% end %>
            </div>
          <% end %>
          </div>
  <%= form.submit 'Create Student', :class => 'ui fluid green button' %>
      </div>
  <div class="five wide column">
        <div class="ui green segment">
          <%= form.submit 'Create Student', :class => 'ui fluid green button' %>
        </div>
        <div class="ui green segment">
          <%= form.submit 'Create and Add Another', :class => 'ui fluid inverted green button' %>
        </div>
          <% end %>
</div>
</div>
