<div class="ui container center aligned">
	<h1 class="ui header"> Current Students</h1>
		<div class="ui green segment">
		  <div class="ui left dividing rail">
		    <%= render 'students/filter' %>
		    <%= render 'students/filter' %>
		 		<%= render 'students/filter' %>
				<%= render 'students/filter' %>
		  </div>
		  <div class="ui right dividing rail">
		    <div class="ui segment">
		    	<%= link_to 'Create New Student', new_student_path, :class => "ui large inverted green button" %>
		    </div>
		    <div class="ui segment">
		     	<div class="ui inverted blue button"> Bulk Upload </div>
		   	</div>
		    <div class="ui segment">
		     	<div class="ui inverted blue button"> Report Download </div>
	    	</div>
		  </div>
			<table class="ui very compact table">
				<thead>
					<tr>
						<th>Full Name								</th>
						<th>Class										</th>
						<th>Grade										</th>
						<th>Special Education Needs	</th>
						<th>Free School Meals				</th>
						<th>English as Language			</th>
						<th>Pupil Premium						</th>
						<th>Teacher									</th>
					</tr>
				</thead>
				<% @students.each do |student| %>
					<tr>
						<td> <%= link_to "#{student.first_name} #{student.last_name}", student_path(student) %>  </td>
						<td> <%= link_to "#{student.classroom.name}", classroom_path(student.classroom_id) %> 							 				</td>
						<td> <%= student.year %> 												 				</td>
						<td> <%= student.special_education_need %>							</td>
						<td> <%= student.free_school_meals %> 					 				</td>
						<td> <%= student.english_as_language %> 				 				</td>
						<td> <%= student.pupil_premium %> 							 				</td>
						<td> <%= student.classroom.teacher.first_name %> 			  </td>
					</tr>
				<% end %>
			</table>
</div>









<%= render 'students/pie' %>
</div>
