<div class="ui container">
		<div class="ui segment">
		  <div class="ui left very close rail">
		    <div class="ui segment">
		      <%= link_to "Return to Class", classroom_path(@student.classroom),
		      						:class => 'ui massive inverted green button center aligned' %>
		    </div>
		    <div class="ui segment">
		    	<h1 class="ui header center aligned"> Grade <%= @student.year %></h1>

		    </div>
		  </div>

		  <div class="ui right very close rail">
		    <div class="ui segment">
		    	<%= link_to "Update Student", edit_student_path,
		    			:class => 'ui massive inverted blue button' %>
		    </div>
		    <div class="ui segment">
		      <% if @student.gender? %>
		      <h1><i class="male icon"></i>Male</h1>
		      <% else %>
		      <h1><i class="female icon"></i>Female</h1>
		      <% end %>
		    </div>
		    <div class="ui segment">
		      <% if @student.free_school_meals? %>
		      	<h1><i class="food icon"></i>Yes</h1>
		      <% else %>
		      	<h4><i class="remove icon"></i>No Free School Meals</h4>
		      <% end %>
		    </div>
		    <div class="ui segment">
		    	<h3 class="ui header"> SEN </h3>
		    	<%= @student.special_education_need %>
		    </div>
		  </div>
				<h1 class="ui header center aligned">
					<%= @student.first_name %> <%= @student.last_name %>
				</h1>
					<%= pie_chart({ "#{@student.first_name}" => 1,
														"Listening P7" => 1,
														"Writing P3" => 1,
														"Speaking P3" => 1,
														"Numbers P8" => 1,
														"Shapes and Measures P4" => 1,
														"Geometry P3" => 1,
														"Space & stuff P3" => 1,
                            
													}) %>
		</div>
		<div class="ui raised segment">
			<h4 class="ui header center aligned">Student Notes</h4>
			<p class="ui center aligned">
				Student notes go here.
			</p>
			<h5 class="ui header center aligned">Add new Student Note</h5>
		</div>
</div>
