<div class="ui container">
	<div class="ui segment">
<!-- LEFT RAIL Begins here. -->
	  <div class="ui left very close rail">
	    <div class="ui segment">
	      <%= link_to "Return to Class", classroom_path(@student.classroom),
	      						:class => 'ui massive inverted green button center aligned' %>
	    </div>
	    <div class="ui segment">
	    	<h1 class="ui header center aligned"> Grade <%= @student.year %></h1>
	    </div>
	  </div>

<!-- Right RAIL Begins here. -->
	  <div class="ui right very close rail">
	    <div class="ui segment">
	    	<%= link_to "Update Student",
            edit_student_path,
	    			:class => 'ui massive inverted blue button'
        %>
	    </div>
      <%= render 'free_school_meals_segment' %>
      <%= render 'gender_segment' %>
      <div class="ui segment">
	    	<h3 class="ui header"> SEN </h3>
  	      <%= @student.special_education_need %>
      </div>
	  </div>

<!-- Central RAIL Begins here. -->
  <h1 class="ui center aligned container ">
    <%= @student.first_name %> <%= @student.last_name %>
  </h1>
  <div class="ui divider">

  </div>
    <!-- <%= pie_chart @pie_data, donut: true, adapter: 'google'  %>
      <script>
        google.charts.setOnLoadCallback(setupChart);
        function setupChart() {
          var chartWrapper = Chartkick.charts["chart-1"]
          var chart = chartWrapper.chart
          var data = chartWrapper.data
          google.visualization.events.addListener(chart, 'select', function() {
            selection = chart.getSelection()
            if(selection && selection[0]) {
              window.location.href = data[selection[0].row][0];
            }
          });
        }
      </script> -->

    <div class="ui grid" >
      <div class="row">
        <div class="three wide column"></div>
        <div class="ten wide column center aligned">
          <div class="ui grid center aligned">
            <% @student.skill_levels.each do |student| %>
              <div class="five wide column center aligned">
                <div class="ui segment center aligned" >
                  <%= link_to "P#{student.proficiency_level.level}",
                  skill_level_path(student),
                  :class => 'ui inverted massive violet button center aligned' %>
                  <h4>
              <%= student.proficiency_level.skill.name.capitalize %>

            </h4>
            </div>
          </div>
          <% end %>


        </div>
        <div class="three wide column"></div>
      </div>
    </div></div>






  <div class="ui raised segment">
    <h4 class="ui header center aligned">Student Notes</h4>
      <p class="ui center aligned">
        Student notes go here.
      </p>
    <h5 class="ui header center aligned">Add new Student Note</h5>
  </div>
</div>
