
<div class="sixteen wide column">
  <div class="ui fluid container">
  	<div class="ui segment">
  <!-- LEFT RAIL Begins here. -->
  	  <div class="ui left very close rail">
        <%= render 'return_to_class_button' %>
        <%= render 'update_student_button' %>

  	  </div>

  <!-- Right RAIL Begins here. -->
  	  <div class="ui right very close rail">
        <div class="ui segment">
          <h1 class="ui header center aligned"> Year Group <%= @student.year %></h1>
        </div>
        <%= render 'pupil_premium' %>
        <%= render 'free_school_meals_segment' %>
        <%= render 'gender_segment' %>
        <div class="ui segment">
          <h3 class="ui header"> SEN </h3>
            <%= @student.special_education_need %>
        </div>
  	  </div>

  <!-- Central RAIL Begins here. -->
      <%= render "center_rail" %>

    </div>
  </div>

  <h3 class="ui header center aligned">Student Notes</h3>
  <%= link_to "Add Note", new_student_student_note_path(@student), :class => 'ui button' %>
  <div class="ui segment">

    <% @student_note.reverse.each do |note| %>
      <a class="author">
        <%= note.created_by %>
      </a>
        <%= note.created_at.strftime('%v') %>
        <%= note.note.html_safe %>
      <a class="reply">
        <%= link_to "Edit", edit_student_note_path(note.id) %>
      </a>
    <% if current_teacher.admin? %>
      <a class="reply">
        <%= link_to 'Delete', student_note_path(note),
                              :method => :delete,
                              data: {:confirm => "You sure?" },
                              :title => "Delete this note?" %>
      </a>
    <% end %>
  <% end %>
  </div>

  <div class="ui segment" id="student_record">
   <h1 class="ui header center aligned"> Student Record</h1>
   <p>
     <ul>
     <% @student_record.reverse_each.each do |record| %>
      <li>
        <%= "#{record.proficiency_level.prefix}#{number_with_precision(record.proficiency_level.level,
               strip_insignificant_zeros: true)}
               #{record.proficiency_level.skill.name.capitalize}
               | #{record.created_at.strftime('%v')}"
        %>
       </li>
     <% end %>
     </ul>
   </p>
  </div>
</div>
