<div class="ui container">
  <h1>Showing Skill Levels New</h1>
    <div class="ui divider"></div>
      <p>


<!-- SkillLevel(statement: string, student_id: integer, proficiency_level_id: integer) -->
  <%= form_for(@skill_level, url: student_skill_levels_path(@student)) do |f| %>

    <%= f.text_area :statement %>
    <%= f.hidden_field(:student_id, :value => @student.id) %>
    <%= f.submit %>


  <% end %>
        This is where the form for creating new skill levels will go.
      </p>
        <%= link_to "Back to #{@skill.name}", skill_url(@skill),
            :class => 'ui inverted green button'%>




            <% @students.each do |student| %>
            <%= student.first_name %>
            <%= student.last_name %>
            <% end %>


            <%= @skill.name %>
            <%= @skill.id %>
            <%= @skill.skill_levels.last %>

</div>
