
<%= link_to 'Back', :back, :class => 'ui inverted green button' %>
<%= link_to "View other #{@skill_level.proficiency_level.skill.name.capitalize} Levels",
          skill_path(@skill_level.proficiency_level.skill_id),
          :class => 'ui inverted green button' %>
  <h1 class="ui header center aligned"> P<%= @level %> <%= @name %></h1>

  <div class="ui grid middle left aligned">
    <div class="four wide column"></div>
      <div class="eight wide column">
        <div class="ui raised segment">
          <% @achievement.where(:achieved => false).shuffle.each do |achievement| %>
          <div class="ui clearing segment">

            <div class="ui left floated middle aligned segment">
              <div class="ui toggle fitted checkbox">
                <%= form_for achievement, id: 'myForm' do |f| %>
                <%= f.check_box :achieved %>
                <input type="checkbox">
                <label></label>
                <% end %>
              </div>
            </div>
            <p class="ui middle aligned right floated">
              <%= achievement.name %>
              <%= achievement.achievement %>
              <%= achievement.id %>
          </div>
          <% end %>
        </div>


        <div class="ui divider">
          <% @achievement.where(:achieved => true).shuffle.each do |achievement| %>
          <div class="ui clearing segment">

            <div class="ui left floated middle aligned segment">
              <div class="ui toggle fitted green checkbox">
                <%= form_for achievement, method: :put, id: 'myForm' do |f| %>
                <%= f.check_box :achieved %>

                <label></label>
                <% end %>
              </div>
            </div>
            <p class="ui middle aligned right floated">
              <%= achievement.name %>
              <%= achievement.achievement %>
              <%= achievement.id %>
          </div>
          <% end %>
          <script>
            $(document).ready(function() {
             $('#myBtn').on('click', function() {
            $('#myForm').submit();
            });
            });
          </script>
          <button id="myBtn" class="positive ui button">Accept Checked</button>

        </div>
      </div>
    <div class="two wide column"></div>
  </div>
