<%= link_to 'Back', student_path(@skill_level.student_id), :class => 'ui inverted green button' %>
  <h1 class="ui header center aligned">
      <%= @skill_level.proficiency_level.prefix %><%= number_with_precision(@level, strip_insignificant_zeros: true)%>
      <%= @name.capitalize %>
      Proficiency
    <div class="sub header">
      <%= @skill_level.student.first_name %>
      has achieved
    </div>
  </h1>
<div class="ui grid middle left aligned">
  <div class="four wide column"></div>
    <div class="eight wide column">

      <!-- Quick variable saves -->
          <% @count = @skill_level.proficiency_level.achievement.count %>
          <% @progress = @skill_level.student.student_progress(@skill_level) %>
          <% @percent_achieved = @progress/@count.to_f %>
          <% @seventy_five = '.75'.to_f %>

      <!-- Progress Bar -->
    <%= content_tag :div, :class => 'ui big indicating progress', id: "progress",
      data: {value: @progress,
             total: @count } do
      %>
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label">
        <%= @percent_achieved >= '.75'.to_f ? 'Mastered' : (@percent_achieved >= '.41'.to_f ? 'Developing' : 'Emerging') %></div>
        <script charset="utf-8">
          $('#progress').progress({
                                    label: 'ratio',
                                    text: {
                                    ratio: '{value} of {total} '
                                    }
                                  });
        </script>
    <% end %>

  <div class="ui raised segment">
    <% if @percent_achieved >= @seventy_five %>
      <%= link_to "Progress to Next Level!",
      level_up_proficiency_skill_level_path,
      :class => 'ui inverted fluid center aligned blue button'
      %>
    <% end %>
      <% @skill_level.proficiency_level.achievement.shuffle.each do |achievement| %>
        <% student_achievement = @skill_level.student.has_achievement?(achievement) %>
          <% if student_achievement.present? %>
          <% else %>
            <div class="ui clearing segment">
              <i class="huge edit icon"></i>
              <%= achievement.name %>
              <%= link_to "[   •   ]", create_student_achievement_skill_level_path(:achievement => achievement.id), :class => 'ui button right floated' %>
            </div>
          <% end %>
      <% end %>
  </div>
    <div class="ui divider"></div>
  <div class="ui clearing segment">
    <div class="ui raised segmenet">
      <% @skill_level.proficiency_level.achievement.shuffle.each do |achievement| %>
        <% student_achievement = @skill_level.student.has_achievement?(achievement) %>
        <% if student_achievement %>
        <div class="ui clearing segment">
          <i class="huge checkmark box icon"></i>
            <%= achievement.name %>
            <%= link_to "Achieved",
            destroy_student_achievement_skill_level_path(
            :student_achievement => student_achievement.id),
            :class => 'ui green button right floated pause circle outline icon'
            %>

        </div>
        <% else %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
