<div class="ui container center aligned">
  <h1 class="ui header center aligned">
    <%= @proficiency_level.skill.name %>

    P<%= @proficiency_level.level %>
  </h1>

  <%= link_to 'Back', :back, :class => 'ui inverted green button' %>
  <%= link_to "New Achievement",
  new_proficiency_level_achievement_path(@proficiency_level.id),
  :class => "ui inverted green button"
  %>
  <%= link_to 'Return to Skill Level', skill_path(@proficiency_level.skill_id), :class => 'ui inverted green button' %>
</div>

    <div class="ui grid center aligned">
      <div class="one wide column"></div>
        <div class="eight wide column">
          <div class="ui raised segment">
            <% @achievement.where(:achieved => false).each do |achievement| %>
              <div class="ui segment left aligned">
                <%= achievement.name         %>
                <%= achievement.achievement  %>
                <%= achievement.id           %>
                  <%= form_for achievement do |f| %>
                    <div class="ui right floated slider checkbox">
                       <%= f.check_box :achieved    %>
                       <%= f.label "achieved?"      %>
                     </div>
                  </div>
                <% end %>
              <% end %>
          </div>
          <div class="ui divider">
            <% @achievement.where(:achieved => true).each do |achievement| %>
              <div class="ui raised segment left aligned">
                <%= achievement.name %>
                <%= achievement.achievement %>
                <%= achievement.id %>
                  <%= form_for achievement do |f| %>
                    <div class="ui checkbox">
                      <%= f.check_box :achieved %>
                      <%= f.label :remember_me, "Angemeldet bleiben?" %>
                    </div>
                  <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <div class="two wide column"></div>
    </div>
