<h1>Showing <%= @skill.name %></h1>
  <%= link_to 'Return to Subjects', subjects_path, :class => 'ui green inverted button' %>
  <%= link_to 'back', :back, :class => 'ui green inverted button' %>
  <% if current_teacher.admin? %>
    <%= link_to 'Edit Skill Name',
    edit_skill_path(@skill),
    :class => 'ui blue right floated button' %>
  <% end %>
  <table class="ui very compact table">
    <thead>
      <tr>
        <th>ProficiencyLevel    </th>
        <th>Statement	  		</th>
        <th></th>
      </tr>
    </thead>
    <% @proficiency_level.each do |proficiency_level| %>
      <tr>
        <td><%= link_to("P#{proficiency_level.level}", proficiency_level_path(proficiency_level), :class => 'ui inverted green button') %> </td>
        <td><%= proficiency_level.statement %></td>
        <% if current_teacher.admin? %>
        <td> <%= link_to 'edit', edit_proficiency_level_path(proficiency_level),
                 :class => 'ui mini button left floated' %>
             <%= link_to 'Delete', proficiency_level_path(proficiency_level),
                 method: :delete,
                 data: { confirm: 'Are you sure?' },
                 :class => 'ui mini red button right floated' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% if current_teacher.admin? %>
  <%= link_to 'Create new Proficiency Level', new_proficiency_level_path(:skill_reference => @skill.id ) %>
  <% end %>
</div>
