<h1>Showing <%= @skill.name %></h1>
  <%= link_to 'Return to Subjects', subject_path(@subject), :class => 'ui green inverted button' %>
  <%= link_to 'New Skill Level', new_student_skill_level_path(@skill), :class => 'ui green inverted button' %>
  <table class="ui very compact table">
    <thead>
      <tr>
        <th>ProficiencyLevel    </th>
        <th>Statement	  		</th>
      </tr>
    </thead>
    <% @proficiency_level.each do |proficiency_level| %>
      <tr>
        <td><%= link_to("P#{proficiency_level.level}", proficiency_level_path(proficiency_level), :class => 'ui inverted green button') %> </td>
        <td><%= proficiency_level.statement %></td>
      </tr>
    <% end %>
  </table>
</div>
