<div class="ui container">
  <h1 class="ui header center aligned">
    Showing <%= @subject.name %>
  </h1>

  <%= link_to 'New Skill level', new_skill_path(@subject), :class => 'ui green inverted button' %>
  <%= link_to 'Return', subjects_path, :class => 'ui green inverted button' %>



  <table class="ui very compact table">
    <thead>
      <tr>
        <th>Skill					</th>
        <th>Number of Profciency levels								</th>

      </tr>
    </thead>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to skill.name, skill_url(skill) %> </td>
        <td><%= skill.name %></td>
        </tr>
    <% end %>
  </table>

</div>
