<div class="ui container center aligned">
  <h1 style="padding-bottom:2.5%">New Acheivement for
    <%= @proficiency_level.skill.name.capitalize %>
    (P<%= @proficiency_level.level %>)
  </h1>
  <%= link_to "Return to Skill", proficiency_level_path(@proficiency_level.id),
  :class => 'ui green button' %>
  <div class="ui raised segment">
    <div class="ui massive form">
      <%= form_for(@achievement,
        url:proficiency_level_achievements_path(@proficiency_level)) do |f| %>
        <label style="padding-bottom: 2.5%"> Add an Achievement</label>
        <p><%= @proficiency_level.statement %></p>
        <%= f.text_field :name, :class => 'ui massive field' %>
        <%= f.hidden_field(:proficiency_level_id,
                           :value => @proficiency_level.id ) %>
        <div class="ui divider"></div>
        <%= f.submit(:class => 'ui button') %>
      <% end %>
    </div>
  </div>
</div>
