<!DOCTYPE html>
<html>
  <head>
    <title>Pointedapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </head>

  <div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
      <%= link_to 'Home', pages_path, :class => 'ui large inverted white button' %>
      <%= link_to 'Classroom', classrooms_path, :class => 'ui large inverted white button' %>
      <%= link_to 'Student', students_path, :class => 'ui large inverted white button' %>
      <%= link_to 'Subjects & Levels', subjects_path, :class => 'ui large inverted white button' %>



        <div class="right menu">
          <% if teacher_signed_in? %>
            <%= link_to "Logged in as: #{current_teacher.first_name}", edit_teacher_registration_path,
                                      :class => 'ui inverted white button right floated'  %>
            <%= link_to "Logout", destroy_teacher_session_path,
                                      method: :delete,
                                      :class => 'ui inverted white button right floated'   %>
          <% else %>
            <%= link_to "Sign up", new_teacher_registration_path,
                                      :class => 'ui inverted white button right floated'  %>
            <%= link_to "Login", new_teacher_session_path,
                                      :class => 'ui inverted white button right floated'  %>
          <% end %>
        </div>
    </div>
  </div>

    <body>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <div class="ui container">
      <%= yield %>
    </div>
    </body>
</html>
